dvbi_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:dvbisd="urn:dvb:metadata:servicediscovery:2019" xmlns:mpeg7="urn:tva:mpeg7:2008" xmlns:tva="urn:tva:metadata:2019" targetNamespace="urn:dvb:metadata:servicediscovery:2019" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="urn:tva:metadata:2019" schemaLocation="tva_metadata_3-1.xsd"/>
	<import namespace="urn:tva:mpeg7:2008" schemaLocation="tva_mpeg7.xsd"/>
	<element name="ServiceList" type="dvbisd:ServiceListType"/>
	<element name="Playlist" type="dvbisd:DASHPlaylistType"/>
	<complexType name="ServiceListType">
		<sequence>
			<element name="Name" type="mpeg7:TextualType" maxOccurs="unbounded"/>
			<element name="ProviderName" type="mpeg7:TextualType" maxOccurs="unbounded"/>
			<element name="RelatedMaterial" type="tva:RelatedMaterialType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="RegionList" type="dvbisd:RegionListType" minOccurs="0"/>
			<element name="TargetRegion" type="dvbisd:RegionIdRefType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="LCNTableList" type="dvbisd:LCNTableListType" minOccurs="0"/>
			<choice minOccurs="0">
				<element name="ContentGuideSourceList" type="dvbisd:ContentGuideSourceListType"/>
				<element name="ContentGuideSource" type="dvbisd:ContentGuideSourceType"/>
			</choice>
			<element name="Service" type="dvbisd:DVBiServiceType" minOccurs="0" maxOccurs="unbounded"/>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="version" type="positiveInteger" use="required"/>
	</complexType>
	<complexType name="ContentGuideSourceListType">
		<sequence>
			<element name="ContentGuideSource" type="dvbisd:ContentGuideSourceType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="ContentGuideSourceType">
		<sequence>
			<element name="Name" type="mpeg7:TextualType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ProviderName" type="mpeg7:TextualType" maxOccurs="unbounded"/>
			<element name="RelatedMaterial" type="tva:RelatedMaterialType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ScheduleInfoEndpoint" type="dvbisd:ExtendedURIType"/>
			<element name="ProgramInfoEndpoint" type="dvbisd:ExtendedURIType" minOccurs="0"/>
			<element name="GroupInfoEndpoint" type="dvbisd:ExtendedURIType" minOccurs="0"/>
			<element name="MoreEpisodesEndpoint" type="dvbisd:ExtendedURIType" minOccurs="0"/>
		</sequence>
		<attribute name="CGSID" type="dvbisd:ContentGuideProviderIdType" use="required"/>
	</complexType>
	<simpleType name="ContentGuideProviderIdType">
		<restriction base="ID"/>
	</simpleType>
	<simpleType name="ContentGuideProviderRefIdType">
		<restriction base="IDREF"/>
	</simpleType>
	<complexType name="DVBiServiceType">
		<sequence>
			<element name="UniqueIdentifier" type="dvbisd:ServiceIdentifierType"/>
			<element name="ServiceInstance" type="dvbisd:ServiceInstanceType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="TargetRegion" type="dvbisd:RegionIdRefType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ServiceName" type="mpeg7:TextualType" maxOccurs="unbounded"/>
			<element name="ProviderName" type="mpeg7:TextualType" maxOccurs="unbounded"/>
			<element name="RelatedMaterial" type="tva:RelatedMaterialType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ServiceGenre" type="tva:GenreType" minOccurs="0"/>
			<element name="ServiceType" type="tva:ControlledTermType" minOccurs="0"/>
			<element name="RecordingInfo" type="tva:ControlledTermType" minOccurs="0"/>
			<choice minOccurs="0">
				<element name="ContentGuideSource" type="dvbisd:ContentGuideSourceType"/>
				<element name="ContentGuideSourceRef" type="dvbisd:ContentGuideProviderRefIdType"/>
			</choice>
			<element name="ContentGuideServiceRef" type="dvbisd:ServiceIdentifierType" minOccurs="0"/>
		</sequence>
		<attribute name="version" type="positiveInteger" use="required"/>
	</complexType>
	<complexType name="ServiceInstanceType">
		<sequence>
			<element name="DisplayName" type="mpeg7:TextualType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="RelatedMaterial" type="tva:RelatedMaterialType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ContentProtection" type="dvbisd:ContentProtectionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ContentAttributes" type="dvbisd:ContentAttributesType" minOccurs="0"/>
			<element name="Availability" type="dvbisd:ServiceAvailabilityType" minOccurs="0"/>
			<element name="SubscriptionPackage" type="dvbisd:SubscriptionPackageType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="FTAContentManagement" type="dvbisd:FTAContentManagementType" minOccurs="0"/>
			<element name="SourceType" type="anyURI"/>
			<choice minOccurs="0">
				<sequence>
					<element name="DVBTDeliveryParameters" type="dvbisd:DVBTDeliveryParametersType"/>
					<element name="SATIPDeliveryParameters" type="dvbisd:SATIPDeliveryParametersType" minOccurs="0"/>
				</sequence>
				<sequence>
					<element name="DVBSDeliveryParameters" type="dvbisd:DVBSDeliveryParametersType"/>
					<element name="SATIPDeliveryParameters" type="dvbisd:SATIPDeliveryParametersType" minOccurs="0"/>
				</sequence>
				<element name="DVBCDeliveryParameters" type="dvbisd:DVBCDeliveryParametersType"/>
				<element name="RTSPDeliveryParameters" type="dvbisd:RTSPDeliveryParametersType"/>
				<element name="MulticastTSDeliveryParameters" type="dvbisd:MulticastTSDeliveryParametersType"/>
				<sequence>
					<element name="DASHDeliveryParameters" type="dvbisd:DASHDeliveryParametersType"/>
					<element name="MulticastTSDeliveryParameters" type="dvbisd:MulticastTSDeliveryParametersType" minOccurs="0"/>
				</sequence>
				<any namespace="##other" processContents="lax"/>
			</choice>
		</sequence>
		<attribute name="priority" type="integer"/>
	</complexType>
	<complexType name="ContentProtectionType">
		<sequence>
			<element name="CASystemId" type="dvbisd:CASystemType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="DRMSystemId" type="dvbisd:DRMSystemType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="ProtectionSystemType" abstract="true">
		<attribute name="cpsIndex" type="string"/>
	</complexType>
	<complexType name="CASystemType">
		<complexContent>
			<extension base="dvbisd:ProtectionSystemType">
				<sequence>
					<element name="CASystemId" type="string"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="DRMSystemType">
		<complexContent>
			<extension base="dvbisd:ProtectionSystemType">
				<sequence>
					<element name="DRMSystemId" type="string"/>
				</sequence>
				<attribute name="encryptionScheme" type="dvbisd:EncryptionSchemeType" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<simpleType name="EncryptionSchemeType">
		<restriction base="string">
			<enumeration value="cenc"/>
			<enumeration value="cbcs"/>
			<enumeration value="cbcs-10"/>
		</restriction>
	</simpleType>
	<complexType name="FTAContentManagementType">
		<attribute name="userDefined" type="boolean" use="required"/>
		<attribute name="doNotScramble" type="boolean" use="required"/>
		<attribute name="controlRemoteAccessOverInternet">
			<simpleType>
				<restriction base="unsignedByte">
					<minInclusive value="0"/>
					<maxInclusive value="3"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="doNotApplyRevocation" type="boolean" use="required"/>
	</complexType>
	<complexType name="DVBTDeliveryParametersType">
		<sequence>
			<element name="DVBTriplet" type="dvbisd:DVBTripletType"/>
			<element name="TargetCountry" type="dvbisd:ISO-3166-Code"/>
		</sequence>
	</complexType>
	<complexType name="DVBSDeliveryParametersType">
		<sequence>
			<element name="DVBTriplet" type="dvbisd:DVBTripletType"/>
			<element name="OrbitalPosition" type="dvbisd:LongitudeType" minOccurs="0"/>
			<sequence minOccurs="0">
				<element name="Frequency" type="positiveInteger"/>
				<element name="Polarization">
					<simpleType>
						<restriction base="string">
							<enumeration value="horizontal"/>
							<enumeration value="vertical"/>
							<enumeration value="left circular"/>
							<enumeration value="right circular"/>
						</restriction>
					</simpleType>
				</element>
			</sequence>
		</sequence>
	</complexType>
	<complexType name="SATIPDeliveryParametersType">
		<sequence>
			<element name="QueryParameters" type="string"/>
		</sequence>
	</complexType>
	<complexType name="DVBCDeliveryParametersType">
		<sequence>
			<element name="DVBTriplet" type="dvbisd:DVBTripletType" minOccurs="0"/>
			<element name="TargetCountry" type="dvbisd:ISO-3166-Code"/>
			<element name="NetworkID" type="dvbisd:NetworkIdType"/>
		</sequence>
	</complexType>
	<complexType name="RTSPDeliveryParametersType">
		<sequence>
			<element name="DVBTriplet" type="dvbisd:DVBTripletType" minOccurs="0"/>
			<element name="RTSPURL" type="dvbisd:RTSPURLType"/>
			<element name="MinimumBitRate" type="unsignedInt" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="MulticastTSDeliveryParametersType">
		<sequence>
			<element name="DVBTriplet" type="dvbisd:DVBTripletType" minOccurs="0"/>
			<element name="IPMulticastAddress" type="dvbisd:McastType"/>
			<element name="MinimumBitRate" type="unsignedInt" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="DASHDeliveryParametersType">
		<sequence>
			<element name="UriBasedLocation" type="dvbisd:ExtendedURIType"/>
			<element name="MinimumBitRate" type="unsignedInt" minOccurs="0"/>
		</sequence>
	</complexType>
	<simpleType name="NetworkIdType">
		<restriction base="unsignedShort"/>
	</simpleType>
	<simpleType name="ISO-3166-Code">
		<annotation>
			<documentation xml:lang="en">A country code, as defined by ISO-3166.</documentation>
		</annotation>
		<restriction base="string">
			<pattern value="\c\c\c"/>
		</restriction>
	</simpleType>
	<complexType name="ServiceAvailabilityType">
		<sequence>
			<element name="Period" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="Interval" minOccurs="0" maxOccurs="unbounded">
							<complexType>
								<attribute name="days" type="dvbisd:ServiceDaysList" default="1 2 3 4 5 6 7"/>
								<attribute name="recurrence" type="unsignedInt" default="1"/>
								<attribute name="startTime" type="dvbisd:ZuluTimeType" use="required"/>
								<attribute name="endTime" type="dvbisd:ZuluTimeType" use="required"/>
							</complexType>
						</element>
					</sequence>
					<attribute name="validFrom" type="dateTime"/>
					<attribute name="validTo" type="dateTime"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<simpleType name="ServiceDaysList">
		<list>
			<simpleType>
				<restriction base="integer">
					<minInclusive value="1">
						<annotation>
							<documentation xml:lang="en">Monday</documentation>
						</annotation>
					</minInclusive>
					<maxInclusive value="7">
						<annotation>
							<documentation xml:lang="en">Sunday</documentation>
						</annotation>
					</maxInclusive>
				</restriction>
			</simpleType>
		</list>
	</simpleType>
	<simpleType name="ZuluTimeType">
		<restriction base="time">
			<pattern value="(([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?|(24:00:00(\.0+)?))Z"/>
		</restriction>
	</simpleType>
	<complexType name="RegionListType">
		<sequence>
			<element name="Region" type="dvbisd:RegionType" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="version" type="positiveInteger" use="required"/>
	</complexType>
	<complexType name="RegionType">
		<sequence>
			<element name="RegionName" type="mpeg7:TextualType" minOccurs="0" maxOccurs="unbounded"/>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element name="Postcode" type="dvbisd:PostcodeType"/>
				<element name="WildcardPostcode" type="dvbisd:WildcardPostcodeType"/>
				<element name="PostcodeRange" type="dvbisd:PostcodeRangeType"/>
				<element name="Coordinates" type="dvbisd:CoordinatesType"/>
			</choice>
			<element name="Region" type="dvbisd:RegionType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="regionID" type="dvbisd:RegionIdType" use="required"/>
		<attribute name="countryCodes" type="dvbisd:ISO-3166-List" use="optional"/>
	</complexType>
	<simpleType name="RegionIdType">
		<restriction base="ID"/>
	</simpleType>
	<simpleType name="RegionIdRefType">
		<restriction base="IDREF"/>
	</simpleType>
	<simpleType name="PostcodeType">
		<restriction base="string">
			<pattern value="[A-Za-z0-9][A-Za-z0-9\- ]*"/>
		</restriction>
	</simpleType>
	<simpleType name="WildcardPostcodeType">
		<restriction base="string">
			<pattern value="(\*[A-Za-z0-9][A-Za-z0-9\- ]*)|([A-Za-z0-9][A-Za-z0-9\- ]*\*[A-Za-z0-9\- ]+)|([A-Za-z0-9][A-Za-z0-9\- ]*\*)"/>
		</restriction>
	</simpleType>
	<complexType name="PostcodeRangeType">
		<attribute name="from" type="dvbisd:PostcodeType" use="required"/>
		<attribute name="to" type="dvbisd:PostcodeType" use="required"/>
	</complexType>
	<complexType name="CoordinatesType">
		<sequence>
			<element name="Latitude" type="dvbisd:LatitudeType"/>
			<element name="Longitude" type="dvbisd:LongitudeType"/>
			<element name="Radius" type="dvbisd:RadiusType"/>
		</sequence>
	</complexType>
	<simpleType name="LatitudeType">
		<restriction base="double">
			<minInclusive value="-90.0"/>
			<maxInclusive value="90.0"/>
		</restriction>
	</simpleType>
	<simpleType name="LongitudeType">
		<restriction base="double">
			<minInclusive value="-180.0"/>
			<maxInclusive value="180.0"/>
		</restriction>
	</simpleType>
	<simpleType name="RadiusType">
		<restriction base="positiveInteger"/>
	</simpleType>
	<complexType name="LCNTableListType">
		<sequence>
			<element name="LCNTable" type="dvbisd:LCNTableType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="LCNTableType">
		<sequence>
			<element name="TargetRegion" type="dvbisd:RegionIdRefType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="SubscriptionPackage" type="dvbisd:SubscriptionPackageType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="LCN" type="dvbisd:LCNTableEntryType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="LCNTableEntryType">
		<attribute name="channelNumber" type="positiveInteger" use="required"/>
		<attribute name="serviceRef" type="dvbisd:ServiceIdentifierType" use="required"/>
		<attribute name="selectable" type="boolean" default="true"/>
		<attribute name="visible" type="boolean" default="true"/>
	</complexType>
	<simpleType name="ServiceIdentifierType">
		<restriction base="anyURI"/>
	</simpleType>
	<simpleType name="SubscriptionPackageType">
		<restriction base="string"/>
	</simpleType>
	<complexType name="DASHPlaylistType">
		<sequence>
			<element name="PlaylistEntry" type="anyURI" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<!-- -->
	<!--  data types adapted from SDnS v1.4 -->
	<!-- -->
	<complexType name="DVBTripletType">
		<attribute name="origNetId" type="dvbisd:OrigNetId" use="optional"/>
		<attribute name="tsId" type="dvbisd:TSId" use="optional"/>
		<attribute name="serviceId" type="dvbisd:ServiceId" use="required"/>
	</complexType>
	<!-- -->
	<!--  items adapted from OSDT v1.2.1 -->
	<!-- -->
	<complexType name="ContentAttributesType">
		<sequence>
			<element name="AudioAttributes" type="tva:AudioAttributesType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="AudioConformancePoint" type="tva:ControlledTermType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="VideoAttributes" type="tva:VideoAttributesType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="VideoConformancePoint" type="tva:ControlledTermType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="CaptionLanguage" type="tva:CaptionLanguageType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="SignLanguage" type="tva:SignLanguageType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<!-- -->
	<!-- items copied from SDnSv1.4 -->
	<!-- -->
	<simpleType name="DomainType">
		<restriction base="string">
			<pattern value="((.|\n|\r)*)?(\.(.|\n|\r)*)+"/>
		</restriction>
	</simpleType>
	<complexType name="McastType">
		<sequence minOccurs="0">
			<element name="FECBaseLayer" type="dvbisd:FECLayerAddressType" minOccurs="0"/>
			<element name="FECEnhancementLayer" type="dvbisd:FECLayerAddressType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="CNAME" type="string" minOccurs="0"/>
			<element name="ssrc" type="unsignedInt" minOccurs="0"/>
			<element name="RTPRetransmission" type="dvbisd:RETInfoType" minOccurs="0"/>
		</sequence>
		<attributeGroup ref="dvbisd:MulticastAddressAttributes"/>
	</complexType>
	<complexType name="FECLayerAddressType">
		<attribute name="Address" type="dvbisd:IPOrDomainType" use="optional"/>
		<attribute name="Source" type="dvbisd:IPOrDomainType" use="optional"/>
		<attribute name="Port" type="unsignedShort" use="optional"/>
		<attribute name="MaxBitrate" type="positiveInteger" use="optional"/>
		<attribute name="RTSPControlURL" type="anyURI" use="optional"/>
		<attribute name="PayloadTypeNumber" type="unsignedInt" use="optional"/>
		<attribute name="TransportProtocol" type="dvbisd:TransportProtocolType" use="optional"/>
	</complexType>
	<complexType name="RETInfoType">
		<sequence>
			<element name="RTCPReporting" type="dvbisd:RTCPReportingType"/>
			<element name="UnicastRET" type="dvbisd:UnicastRETType" minOccurs="0"/>
			<element name="MulticastRET" type="dvbisd:MulticastRETType" minOccurs="0"/>
		</sequence>
	</complexType>
	<attributeGroup name="FECAttributeGroupType">
		<attribute name="FECMaxBlockSize" type="unsignedShort" use="optional"/>
		<attribute name="FECMaxBlockTime" type="unsignedShort" use="optional"/>
		<attribute name="FECOTI" type="base64Binary" use="optional"/>
	</attributeGroup>
	<attributeGroup name="BasicMulticastAddressAttributesType">
		<attribute name="Source" type="dvbisd:IPOrDomainType" use="optional"/>
		<attribute name="Address" type="dvbisd:IPOrDomainType" use="required"/>
		<attribute name="Port" type="unsignedShort" use="required"/>
	</attributeGroup>
	<attributeGroup name="MulticastAddressAttributes">
		<attributeGroup ref="dvbisd:BasicMulticastAddressAttributesType"/>
		<attribute name="Streaming" type="dvbisd:StreamingType" use="optional"/>
		<attributeGroup ref="dvbisd:FECAttributeGroupType"/>
	</attributeGroup>
	<simpleType name="IPOrDomainType">
		<annotation>
			<documentation xml:lang="en">union of DomainType and IPType</documentation>
		</annotation>
		<union memberTypes="dvbisd:IPType dvbisd:DomainType"/>
	</simpleType>
	<simpleType name="StreamingType">
		<restriction base="string">
			<enumeration value="rtp"/>
			<enumeration value="udp"/>
		</restriction>
	</simpleType>
	<simpleType name="TransportProtocolType">
		<restriction base="string">
			<enumeration value="RTP-AVP"/>
			<enumeration value="UDP-FEC"/>
		</restriction>
	</simpleType>
	<complexType name="RTCPReportingType">
		<attribute name="DestinationAddress" type="string" use="required"/>
		<attribute name="DestinationPort" type="unsignedShort" use="optional"/>
		<attribute name="dvb-t-ret" type="positiveInteger" use="optional"/>
		<attribute name="rtcp-bandwidth" type="positiveInteger" use="optional"/>
		<attribute name="rtcp-rsize" type="positiveInteger" use="optional"/>
		<attribute name="trr-int" type="positiveInteger" use="optional"/>
		<attribute name="dvb-disable-rtcp-rr" type="boolean" use="optional" default="false"/>
		<attribute name="dvb-enable-byte" type="boolean" use="optional" default="false"/>
		<attribute name="dvb-t-wait-min" type="unsignedInt" use="optional" default="0"/>
		<attribute name="dvb-t-wait-max" type="unsignedInt" use="optional" default="0"/>
		<attribute name="dvb-ssrc-bitmask" type="dvbisd:Hexadecimal32bit" use="optional" default="ffffffff"/>
		<attribute name="dvb-rsi-mc-ret" type="boolean" use="optional"/>
		<attribute name="dvb-ssrc-upstream-client" type="positiveInteger" use="optional"/>
	</complexType>
	<simpleType name="Hexadecimal32bit">
		<restriction base="string">
			<pattern value="[0-9a-fA-F]{8}"/>
		</restriction>
	</simpleType>
	<simpleType name="Hexadecimal16bit">
		<restriction base="string">
			<pattern value="[0-9a-fA-F]{1,4}"/>
		</restriction>
	</simpleType>
	<simpleType name="Hexadecimal8bit">
		<restriction base="string">
			<pattern value="[0-9a-fA-F]{1,2}"/>
		</restriction>
	</simpleType>
	<complexType name="UnicastRETType">
		<attribute name="trr-int" type="unsignedInt" use="optional"/>
		<attribute name="DestinationPort-ForRTCPReporting" type="unsignedInt" use="optional"/>
		<attribute name="SourcePort" type="unsignedInt" use="optional"/>
		<attribute name="RTSPControlURL" type="anyURI" use="optional"/>
		<attributeGroup ref="dvbisd:CommonCastRETType"/>
	</complexType>
	<complexType name="MulticastRETType">
		<attribute name="SourceAddress" type="string" use="optional"/>
		<attribute name="GroupAddress" type="string" use="required"/>
		<attributeGroup ref="dvbisd:CommonCastRETType"/>
	</complexType>
	<attributeGroup name="CommonCastRETType">
		<attribute name="ssrc" type="unsignedInt" use="optional"/>
		<attribute name="RTPPayloadTypeNumber" type="unsignedInt" use="optional"/>
		<attribute name="dvb-original-copy-ret" type="boolean" use="optional"/>
		<attribute name="rtcp-mux" type="boolean" use="optional" default="false"/>
		<attribute name="DestinationPort" type="unsignedInt" use="optional"/>
		<attribute name="rtx-time" type="unsignedInt" use="required"/>
	</attributeGroup>
	<simpleType name="ISO-3166-List">
		<annotation>
			<documentation xml:lang="en">A comma separated list of one or more country codes, where the codes are defined by ISO-3166.</documentation>
		</annotation>
		<restriction base="string">
			<pattern value="\c\c\c(,\c\c\c)*"/>
		</restriction>
	</simpleType>
	<complexType name="RTSPURLType">
		<simpleContent>
			<extension base="dvbisd:RTSP">
				<attribute name="RTSPControlURL" type="anyURI" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="RTSP">
		<restriction base="anyURI">
			<pattern value="rtsp://.*"/>
		</restriction>
	</simpleType>
	<simpleType name="OrigNetId">
		<annotation>
			<documentation xml:lang="en">A unique identifier of a network. This is managed by DVB through ETSI, and listed in ETSI TR 101 162</documentation>
		</annotation>
		<restriction base="unsignedShort"/>
	</simpleType>
	<simpleType name="TSId">
		<annotation>
			<documentation xml:lang="en">A number used to identify Transport Stream within an original_network. See ETSI EN 300 468</documentation>
		</annotation>
		<restriction base="unsignedShort"/>
	</simpleType>
	<simpleType name="ServiceId">
		<annotation>
			<documentation xml:lang="en">A number used to identify a service within a Transport Stream. See ETSI EN 300 468</documentation>
		</annotation>
		<restriction base="unsignedShort"/>
	</simpleType>
	<!-- -->
	<!-- items copied from SDnSv2.1 -->
	<!-- -->
	<simpleType name="IPType">
		<annotation>
			<documentation xml:lang="en">union of IPv4Type and IPv6Type</documentation>
		</annotation>
		<union memberTypes="dvbisd:IPv4Type dvbisd:IPv6Type"/>
	</simpleType>
	<simpleType name="IPv4Type">
		<annotation>
			<documentation xml:lang="en">Regular expressions in pattern values for type define compatible address structures for IPv4 syntax</documentation>
		</annotation>
		<restriction base="string">
			<pattern value="((([1-9]?[0-9])|(1[0-9][0-9])|(2[0-4][0-9])|(25[0-5]))\.){3}(([1-9]?[0-9])|(1[0-9][0-9])|(2[0-4][0-9])|(25[0-5]))"/>
		</restriction>
	</simpleType>
	<simpleType name="IPv6Type">
		<annotation>
			<documentation xml:lang="en">Regular expressions in pattern values for type define compatible address structures IPv6 syntax</documentation>
		</annotation>
		<restriction base="string">
			<pattern value="/^\s*((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)
(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)
(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)
(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)
(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)
(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)
(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)
(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:)))(%.+)?\s*$/"/>
		</restriction>
	</simpleType>
	<!-- -->
	<!--  items copied from OSDT v1.2.1 -->
	<!-- -->
	<complexType name="ExtendedURIType">
		<sequence>
			<element name="URI" type="anyURI"/>
		</sequence>
		<attribute name="contentType" type="mpeg7:mimeType" use="required"/>
	</complexType>
</schema>
