schemas/dvbi_service_list_discovery_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:dvbisld="urn:dvb:metadata:servicelistdiscovery:2019" xmlns:mpeg7="urn:tva:mpeg7:2008" xmlns:tva="urn:tva:metadata:2019" xmlns:dvbisd="urn:dvb:metadata:servicediscovery:2019" targetNamespace="urn:dvb:metadata:servicelistdiscovery:2019" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="urn:tva:metadata:2019" schemaLocation="tva_metadata_3-1.xsd"/>
	<import namespace="urn:tva:mpeg7:2008" schemaLocation="tva_mpeg7.xsd"/>
	<import namespace="urn:dvb:metadata:servicediscovery:2019" schemaLocation="dvbi_v1.0.xsd"/>
	<element name="ServiceListEntryPoints" type="dvbisld:ServiceListEntryPointsType"/>
	<complexType name="ServiceListEntryPointsType">
		<sequence>
			<element name="ServiceListRegistryEntity" type="dvbisld:OrganizationType"/>
			<element name="ProviderOffering" type="dvbisld:ProviderOfferingType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="OrganizationType">
		<complexContent>
			<extension base="mpeg7:AgentType">
				<sequence>
					<element name="Name" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="mpeg7:TextualType">
									<attribute name="type" use="optional">
										<simpleType>
											<restriction base="NMTOKEN">
												<enumeration value="former"/>
												<enumeration value="variant"/>
												<enumeration value="main"/>
											</restriction>
										</simpleType>
									</attribute>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="Kind" type="mpeg7:TermUseType" minOccurs="0"/>
					<element name="ContactName" type="mpeg7:PersonNameType" minOccurs="0"/>
					<element name="Jurisdiction" type="mpeg7:PlaceType" minOccurs="0"/>
					<element name="Address" type="mpeg7:PlaceType" minOccurs="0"/>
					<element name="ElectronicAddress" type="mpeg7:ElectronicAddressType" minOccurs="0"/>
				</sequence>
				<attribute name="regulatorFlag" type="boolean" default="false"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ProviderOfferingType">
		<sequence>
			<element name="Provider" type="dvbisld:OrganizationType"/>
			<element name="ServiceListOffering" type="dvbisld:ServiceListOfferingType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="ServiceListOfferingType">
		<sequence>
			<element name="ServiceListName" type="mpeg7:TextualType" maxOccurs="unbounded"/>
			<element name="ServiceListURI" type="dvbisd:ExtendedURIType" maxOccurs="unbounded"/>
			<element name="Language" type="tva:AudioLanguageType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Genre" type="tva:GenreType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="TargetCountry" type="dvbisd:ISO-3166-List" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="regulatorListFlag" type="boolean" default="false"/>
	</complexType>
</schema>
